/* src/Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: #444;
    padding: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.register-title {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.register-label {
    display: block;
    color: #bbb;
    margin-bottom: 5px;
}

.register-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.register-input:focus {
    outline: none;
    background-color: #666;
}

.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #888;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #999;
}
